{% include 'header.html.twig' %}

<h2>Mostrando resultado para {{ busca }}</h2>

Lista de produtos: <br />

{% for produto in produtos %}
<h3>{{ produto.nome }}</h3>
<img src="/images/{{ produto.imagem }}" width="300">
<br /><br />

R$ {{ produto.preco }}
<br />
<a href="/produto/{{ produto.id }}">Ver Detalhes</a>.
<a href="/carrinho/{{ produto.id }}">
<input type="button" value="Comprar">
</a>

{% endfor %}

  </body>
</html>
